
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// Color Palette
$grey: #6B7A8F;
$orange: #F7882F;
$yellow: #F7C331;
$beige: #DCC7AA;

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.loading-parent {
  position: relative;
  min-height: 100px;
}

.loading-div {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  background-image: url('../images/ring-alt.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.tournament-info-div{
  background-color: $beige;
  position: relative;
  min-height: 40px;

  .tournament-name-h1{
    text-align: center;
  }

  .weather-info-div{
    background-color: black;
    color: white;
    border-radius: 5px;
    position: absolute;
    right: 4px;
    top: 4px;
    max-width: 30%;
    padding: 5px;
  }
}

.list-group {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}
