
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// Color Palette
$grey: #6B7A8F;
$orange: #F7882F;
$yellow: #F7C331;
$beige: #DCC7AA;

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.tournament-info-div{
  background-color: $beige;
  position: relative;
  min-height: 40px;

  .tournament-name-h1{
    text-align: center;
  }

  .weather-info-div{
    background-color: black;
    color: white;
    border-radius: 5px;
    position: absolute;
    right: 4px;
    top: 4px;
    max-width: 30%;
    padding: 5px;
  }
}
