
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// Color Palette
$i200: #9FA8DA;
$i500: #3F51B5;
$i700: #303F9F;
$i800: #283593;
$accent: #FFAB40;
$primaryText: rgba(0,0,0,.87);
$secondaryText: rgba(0,0,0,.54);
$disabledText: rgba(0,0,0,.38);
$primaryWhiteText: rgba(255,255,255,1);
$secondaryWhiteText: rgba(255,255,255,.7);
$disabledWhiteText: rgba(255,255,255,.5);

@font-face {
  src: url('../fonts/limos.ttf');
  font-family: 'limo';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: inherit;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'limo';
}

.loading-parent {
  position: relative;
  min-height: 100px;
}

.loading-div {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white;
  background-image: url('../images/ring-alt.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.main-bg {
  background-color: $i500;
}

.accent {
  color: $accent;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url('../images/hero-bg.jpg');
  background-size: cover;
  background-position: center center;

  .hero-logo {
    margin: 0 auto;
    margin-top: 200px;
  }

  .hero-sub-header {
    color: $secondaryWhiteText;
    font-family: 'limo';
    font-size: 9vh;
    text-align: right;
    margin-right: 10%;
  }
}

#landing-prompt {
  font-size: 10vh;
  margin-bottom: 25px;
  padding: 7vh;
}

.tile {
  background-color: $i800;
  box-shadow: 1px 1px black;
  padding: 20px 20px;
  margin: 10px 0 5vh 0;
  min-height: 60vh;
  height: 100%;
  h3 {
    color: $primaryWhiteText;
    font-size: 7vh;
  }
  i {
    color: $primaryWhiteText;
    font-size: 20vh;
    display: block;
    text-align: center;
    margin-top: 20px;
  }
}

.tile:hover{
  background-color: $i200;
  cursor: pointer;
  h3, i {
    color: $i800;
  }
  .accent {
    color: $primaryWhiteText;
  }
}



.tournament-info-div{
  background-color: black;
  position: relative;
  min-height: 40px;

  .tournament-name-h1{
    text-align: center;
  }

  .weather-info-div{
    background-color: black;
    color: white;
    border-radius: 5px;
    position: absolute;
    right: 4px;
    top: 4px;
    max-width: 30%;
    padding: 5px;
  }
}

.list-group {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}
